<?xml version="1.0" encoding="UTF-8"?>

<!-- status=debug 可以查看log4j的装配过程 -->
<configuration status="debug">
	<appenders>
		<!-- 定义控制台输出 -->
		<Console name="Console" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %X{traceId} [%thread] %level [%class] - %msg%n" />
		</Console>
	</appenders>

	<loggers>
		<!-- 3rdparty Loggers -->
		<logger name="org.glassfish.jersey.servlet.WebComponent" level="error" />
		<logger name="com.mazing.commons.utils.HttpClientUtils" level="INFO" />
		<logger name="org.springframework.context" level="info" />
		<logger name="org.springframework.jdbc" level="info" />
		<logger name="org.springframework.web" level="info" />
		<logger name="com.mchange.v2" level="warn" />
		<logger name="RocketmqClient" level="warn" />

		<!-- Root Logger -->
		<root level="debug">
			<appender-ref ref="Console" />
		</root>
	</loggers>
</configuration>
